<section class="seccion_panel_admin" id="ingresos">
    <h2>Registrar Ingresos</h2>
    <form class="form_panel_admin" [formGroup]="formularioIngreso" (ngSubmit)="onEnviarIngreso()">
        <div class="row g-3">
            <div class="col-md-6">
                <label for="ingreso_producto" class="form-label">Producto</label>
                <select class="form-select" id="ingreso_producto" formControlName="idProducto">
                    <option value="">Seleccionar</option>
                    @for (producto of listaProductos; track producto.id) {
                    <option [value]="producto.id">{{ producto.nombreProducto }}</option>
                    }
                </select>
                @if (
                    formularioIngreso.get('idProducto')?.invalid &&
                    formularioIngreso.get('idProducto')?.touched
                ) {
                    <div class="text-danger">Debe seleccionar un producto.</div>
                }
            </div>
            <div class="col-md-6">
                <label for="ingreso_cantidad" class="form-label">Cantidad</label>
                <input type="number" class="form-control" id="ingreso_cantidad" formControlName="cantidadMovimiento">
                @if (
                    formularioIngreso.get('cantidadMovimiento')?.invalid &&
                    formularioIngreso.get('cantidadMovimiento')?.touched
                ) {
                    <div class="text-danger">Debe ingresar una cantidad válida.</div>
                }
            </div>
            <div class="col-md-6">
                <label for="ingreso_proveedor" class="form-label">Proveedor</label>
                <select class="form-select" id="ingreso_proveedor" formControlName="idProveedor">
                    <option value="">Seleccionar</option>
                    @for (proveedor of listaProveedores; track proveedor.id) {
                    <option [value]="proveedor.id">{{ proveedor.razonSocial }}</option>
                    }
                </select>
                @if (
                    formularioIngreso.get('idProveedor')?.invalid &&
                    formularioIngreso.get('idProveedor')?.touched
                ) {
                    <div class="text-danger">Debe seleccionar un proveedor.</div>
                }
            </div>
            <div class="col-md-6">
                <label for="ingreso_lote_factura" class="form-label">Número de Lote / Factura</label>
                <input type="text" class="form-control" id="ingreso_lote_factura" formControlName="numeroLoteFactura">
                @if (
                    formularioIngreso.get('numeroLoteFactura')?.invalid &&
                    formularioIngreso.get('numeroLoteFactura')?.touched
                ) {
                    <div class="text-danger">
                        Debe ingresar el número de lote o factura.
                    </div>
                }
            </div>
            <div class="col-md-6">
                <label for="ingreso_motivo" class="form-label">Motivo</label>
                <select class="form-select" id="ingreso_motivo" formControlName="idMotivo">
                    <option value="">Seleccionar</option>
                    @for (motivo of motivosIngresoFiltrados; track motivo.id) {
                    <option [value]="motivo.id">{{ motivo.nombreMotivo }}</option>
                    }
                </select>
                @if (
                    formularioIngreso.get('idMotivo')?.invalid &&
                    formularioIngreso.get('idMotivo')?.touched
                ) {
                    <div class="text-danger">
                        Debe seleccionar un motivo.
                    </div>
                }
            </div>
            <div class="col-md-12">
                <label for="ingreso_observaciones" class="form-label">Observaciones</label>
                <textarea class="form-control" id="ingreso_observaciones" formControlName="observaciones"></textarea>
            </div>
            <div class="col-md-12 text-end">
                <button type="submit">
                    <i class="fa-solid fa-floppy-disk"></i>
                    Registrar
                </button>
            </div>
        </div>
    </form>
</section>