<header class="header_quienes_somos">
    <nav class="navbar navbar-expand-lg navbar_global">
        <div class="container-fluid">
            <a class="home_quienes_somos" routerLink="landing-page">
                <img [src]="logoSinertech" alt="Logo SinerTech">
                <span>SinerTech</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuPrincipal" aria-controls="menuPrincipal" aria-expanded="false" aria-label="Abrir menú">
                <i class="bi bi-list"></i>
            </button>
            <div class="collapse navbar-collapse" id="menuPrincipal">
                <ul class="acciones_header ms-auto mt-3">
                    @if (!esDashboard) {
                    <li>
                        <a routerLink="landing-page" routerLinkActive="active" ariaCurrentWhenActive="page">
                            <i class="bi bi-house-fill"></i>
                            <span>Inicio</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="quienes-somos" routerLinkActive="active" ariaCurrentWhenActive="page">
                            <i class="bi bi-people-fill"></i>
                            <span>Quiénes Somos</span>
                        </a>
                    </li>
                    @if (!estaAutenticado) {
                        <li>
                            <a routerLink="/login">
                                <i class="bi bi-box-arrow-in-right"></i>
                                <span>Login</span>
                            </a>
                        </li>
                    }
                    @if (!estaAutenticado) {
                        <li>
                            <a routerLink="/registro">
                                <i class="bi bi-person-plus-fill"></i>
                                <span>Registro</span>
                            </a>
                        </li>
                    }
                    }
                    @if (estaAutenticado) {
                    <li>
                        <a class="cerrar_sesion" (click)="cerrarSesion()" routerLink="landing-page">
                            <i class="bi bi-box-arrow-right"></i>
                            Cerrar Sesión
                        </a>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>