<header class="header_quienes_somos">
    <nav class="navbar_global">
        <a class="home_quienes_somos" routerLink="/sinertech/landing-page">
            <img [src]="logoSinertech" alt="Logo SinerTech">
            <span>SinerTech</span>
        </a>
        <ul class="acciones_header mt-3">
            @if (!esDashboard) {
            <li>
                <a routerLink="landing-page" routerLinkActive="active" ariaCurrentWhenActive="page">
                    <i class="bi bi-house-fill"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li>
                <a routerLink="quienes-somos" routerLinkActive="active" ariaCurrentWhenActive="page">
                    <i class="bi bi-people-fill"></i>
                    <span>Quiénes Somos</span>
                </a>
            </li>
            @if (!estaAutenticado) {
                <li>
                    <a routerLink="login">
                        <i class="bi bi-box-arrow-in-right"></i>
                        <span>Login</span>
                    </a>
                </li>
            }
            @if (!estaAutenticado) {
                <li>
                    <a routerLink="registro">
                        <i class="bi bi-person-plus-fill"></i>
                        <span>Registro</span>
                    </a>
                </li>
            }
            }
            @if (estaAutenticado) {
            <li>
                <a class="cerrar_sesion" (click)="cerrarSesion()" routerLink="/sinertech/landing-page">
                    <i class="bi bi-box-arrow-right"></i>
                    Cerrar Sesión
                </a>
            </li>
            }
        </ul>
    </nav>
</header>